/* source-sans-pro-latin-400-normal */
@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/source-sans-pro@latest/latin-400-normal.woff2)
      format("woff2"),
    url(https://cdn.jsdelivr.net/fontsource/fonts/source-sans-pro@latest/latin-400-normal.woff)
      format("woff");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* source-sans-pro-latin-600-normal */
@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/source-sans-pro@latest/latin-600-normal.woff2)
      format("woff2"),
    url(https://cdn.jsdelivr.net/fontsource/fonts/source-sans-pro@latest/latin-600-normal.woff)
      format("woff");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* inter-latin-wght-normal */
@font-face {
  font-family: "Inter Variable";
  font-style: normal;
  font-display: swap;
  font-weight: 100 900;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/inter:vf@latest/latin-wght-normal.woff2)
    format("woff2-variations");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.container-lg .dashboard .dashboard-heading {
  padding: 25px 30px 0 30px !important;
  margin-bottom: 0 !important;
  background-color: rgba(239, 214, 172, 0.1) !important;
  backdrop-filter: blur(90px) !important;
  border-top: 1px solid rgba(239, 214, 172, 0.5) !important;
  border-left: 1px solid rgba(239, 214, 172, 0.5) !important;
  border-right: 1px solid rgba(239, 214, 172, 0.5) !important;
  border-top-left-radius: 8px !important;
  border-top-right-radius: 8px !important;
}

.container-lg .dashboard .dashboard-heading .fa-check-circle {
  color: #efd6ac !important;
  font-size: 32px !important;
}
.fa-check-circle {
  color: #efd6ac !important;
}

.profile-picture {
  margin: 0 !important;
  padding: 0 !important;
  display: flex !important;
  gap: 20px !important;
  flex-direction: row !important;
  justify-content: flex-start !important;
  align-items: center !important;
}

.picture {
  height: 90px !important;
  min-width: 90px !important;
  border-radius: 100% !important;
  background-color: #efd6ac !important;
  background-image: url(https://i.imgur.com/8U6HtFk.png);
  background-position: center !important;
  background-size: contain !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  align-content: center !important;
}

h2 + .flex-wrap {
  padding: 0 30px 25px 30px !important;
  background-color: rgba(239, 214, 172, 0.1) !important;
  backdrop-filter: blur(90px) !important;
  border-bottom: 1px solid rgba(239, 214, 172, 0.5) !important;
  border-left: 1px solid rgba(239, 214, 172, 0.5) !important;
  border-right: 1px solid rgba(239, 214, 172, 0.5) !important;
  border-bottom-left-radius: 8px !important;
  border-bottom-right-radius: 8px !important;
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
}

/* To be made visible in the future when the photos source will be added on the website (Just delete the below 3 lines of code :) */
.picture img {
  display: none !important;
}

.profile-info {
  margin-bottom: 10px !important;
}

.picture-description .profile-info:last-of-type {
  margin: 0 !important;
}

.picture-description .profile-info .font-weight-600,
.picture-description,
.profile-picture,
.profile-info {
  font-size: 14px !important;
  font-family: "Inter Variable", sans-serif !important;
  font-weight: 400 !important;
  color: white !important;
}

.container-lg .dashboard .d-flex ~ .row {
  margin: 20px 0 !important;
  padding: 15px 20px !important;
  background-color: rgba(255, 255, 255, 0.1) !important;
  backdrop-filter: blur(90px) !important;
  border: 1px solid #ffffff2e !important;
  border-radius: 5px !important;
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
}

.row h2.dashboard-sub-heading {
  font-size: 20px !important;
  font-family: "Source Sans Pro", sans-serif !important;
  font-weight: 400 !important;
  color: #efd6ac !important;
  padding: 0 !important;
}

.row h2.dashboard-sub-heading .fa-check-circle {
  margin-left: 10px !important;
}

.text-right span.btn {
  font-size: 14px !important;
  font-family: "Inter Variable", sans-serif !important;
  display: flex !important;
  justify-content: center !important;
  font-weight: 300 !important;
  align-items: center !important;
  align-content: center !important;
  padding: 3px 0 !important;
  width: 90px !important;
  background-color: transparent !important;
  border-radius: 3px !important;
  border: 1px solid rgba(255, 255, 255, 0.5) !important;
}

.text-right span.btn:hover {
  transform: none !important;
  transition: all 0.3s ease;
  color: #efd6ac !important;
  border: 1px solid #efd6ac !important;
  box-shadow: none !important;
}

.my-1 .btn,
.my-1 a {
  font-size: 14px !important;
  font-family: "Inter Variable", sans-serif !important;
  display: flex !important;
  justify-content: center !important;
  font-weight: 300 !important;
  align-items: center !important;
  align-content: center !important;
  padding: 3px 8px !important;
  background-color: transparent !important;
  border-radius: 3px !important;
  border: 1px solid rgba(255, 255, 255, 0.5) !important;
}
.my-1 .btn:hover,
.my-1 a:hover {
  transform: none !important;
  transition: all 0.3s ease;
  border: 1px solid #efd6ac !important;
  box-shadow: none !important;
}
.my-1 .btn:hover small,
.my-1 a:hover small {
  color: #efd6ac !important;
  transition: all 0.3s ease;
}

.text-right {
  margin: 0 0 0 15px !important;
  padding: 0 !important;
}

section.pt-2,
section.py-2 {
  padding: 0 !important;
  margin: 0 !important;
}

.col .mb-2 {
  margin: 0 !important;
  padding: 0 !important;
}

.col .mb-2 small {
  font-size: 14px !important;
  font-family: "Inter Variable", sans-serif !important;
  font-weight: 400 !important;
  color: white !important;
  margin-bottom: 10px !important;
}
.flex-column .row.my-1 {
  margin-top: 10px !important;
}

.dashboard .row {
  margin: 0 !important;
}

div.btn-group {
  margin: 0 !important;
  padding: 4px 5px !important;
  background-color: rgba(239, 214, 172, 0.1) !important;
  backdrop-filter: blur(90px) !important;
  border: 1px solid rgba(239, 214, 172, 0.5) !important;
  border-radius: 4px !important;
}

.btn-group .btn {
  font-size: 14px !important;
  font-family: "Inter Variable", sans-serif !important;
  font-weight: 400 !important;
  color: white !important;
  padding: 4px 10px !important;
  margin: 0 !important;
  border: none !important;
  border-radius: 2px !important;
  background-color: transparent !important;
  box-shadow: none !important;
}
.btn-group .btn:first-of-type {
  margin-right: 4px !important;
}

.btn-group .btn.btn-primary {
  color: #000000 !important;
  background-color: #efd6ac !important;
}

.btn-group .btn.btn-primary:hover {
  cursor: auto !important;
}

.btn-group .btn:not(.btn-primary):hover {
  background-color: rgba(256, 256, 256, 0.1) !important;
  color: white !important;
}

span.mr-auto {
  margin: 0 !important;
  padding: 0 !important;
}

.col-sm .font-weight-600 {
  font-size: 14px !important;
  font-family: "Inter Variable", sans-serif !important;
  color: white !important;
  font-weight: 400 !important;
  margin: 0 !important;
  padding: 0 !important;
}

.row .col-sm {
  padding: 0 !important;
  margin: 0 !important;
}

.font-weight-600 .list-inline {
  margin: 0 !important;
  padding: 0 !important;
  display: flex !important;
  flex-direction: row !important;
  gap: 25px !important;
}

.row a {
  background-color: transparent !important;
  color: #efd6ac !important;
  font-size: 14px !important;
  font-weight: 400 !important;
  font-family: "Inter Variable", sans-serif !important;
}

.row a:hover {
  color: white !important;
  transition: all 0.3s ease !important;
}

.row .form-control {
  text-align: left !important;
  padding: 8px 15px;
  font-size: 14px !important;
  font-family: "Inter Variable", sans-serif !important;
  font-weight: 300 !important;
  color: white !important;
  background: #1d4744 !important;
  border-radius: 5px !important;
  border: 1px solid #ffffff2e !important;
}

.row .form-control:hover {
  background-color: #235350 !important;
  transition: all 0.3s ease !important;
}

.row .form-control:focus {
  outline: 0 !important;
  box-shadow: 0 0 0 2px rgba(239, 214, 172, 0.5) !important;
}

.row .col {
  margin-left: 0 !important;
  padding-left: 0 !important;
}

#project-name:not(#project-name:focus) {
  box-shadow: none !important;
}

.modal.show .modal-dialog {
  transform: none !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  height: fit-content !important;
  width: fit-content !important;
}

.modal.show .modal-dialog .modal-content {
  background-color: rgba(24, 58, 55, 0.9) !important;
  backdrop-filter: blur(10px) !important;
  border: 1px solid #ffffff3d !important;
  border-radius: 10px !important;
  overflow: hidden !important;
}

.modal.show .modal-dialog .modal-content .modal-body {
  padding: 0 !important;
}

.modal-content .modal-body .row .col-md-auto {
  padding: 0 !important;
  margin: 0 !important;
}

#profile-privacy-modal-body-course .modal-header {
  width: 100% !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  padding: 10px 15px !important;
  border-bottom: 1px solid #ffffff3d !important;
}

#profile-privacy-modal-body-course .modal-header h4 {
  font-family: "Source Sans Pro", sans-serif !important;
  font-size: 16px !important;
  font-weight: 500 !important;
  color: white !important;
}

#profile-privacy-modal-body-course .mt-2 {
  margin: 0 !important;
  padding: 15px !important;
}

#profile-privacy-modal-body-course .mt-2 b {
  font-family: "Source Sans Pro", sans-serif !important;
  font-size: 14px !important;
  color: white !important;
  font-weight: 500 !important;
}

.row .needs-validation {
  margin: 0 !important;
}

#profile-privacy-modal-body-course .needs-validation .custom-control {
  margin: 10px 15px !important;
}

.custom-control + hr.bg-light {
  display: none !important;
}

.modal-footer {
  border-top: 1px solid #ffffff3d !important;
  padding: 15px !important;
  margin: 0 !important;
  display: flex !important;
  justify-content: space-evenly !important;
  align-items: center !important;
}

.modal-footer .text-dark {
  padding: 0 !important;
  margin: 0 !important;
}

.custom-control-label {
  font-size: 14px !important;
  font-family: "Inter Variable", sans-serif !important;
}
